.footer__link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
    margin: 0 18px 0 0;
    transition: .2s ease-in-out;
}

.footer__link:hover {
    opacity: .5;
}

@media screen and (max-width: 736px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
}