.place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    grid-column: 2;
    margin: 0 0 25px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and(max-width: 984px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 568px) {
    .place__paragraph {
        grid-column: 1;
        margin-left: 16px;
        margin-right: 16px;
    }

    .place__paragraph:first-of-type {
        margin-top: 32px;
    }
}

